name: Terraform Apply

on:
  push:
    paths:
      - "modules/**"
    branches:
      - main
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}
      GOOGLE_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}
      TF_VAR_credentials: ${{ secrets.GCP_SA_KEY }}
      TF_VAR_id: ${{ secrets.ID }}
      TF_VAR_project: ${{ secrets.PROJECT }}
      TF_VAR_environment: ${{ secrets.ENVIRONMENT }}
      TF_VAR_gcp_region: ${{ secrets.GCP_REGION }}
      TF_VAR_gcp_zone: ${{ secrets.GCP_ZONE }}
      TF_VAR_email: ${{ secrets.EMAIL }}
      TF_VAR_email_mas: ${{ secrets.EMAIL_MAS }}
    defaults:
      run:
        working-directory: env/dev
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          export_default_credentials: true

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: terraform apply -auto-approve
